

body{
    
    text-align: center;
    background-color: rgba();
}


#zeroline{
    border: 5px solid rebeccapurple;
}
#firstline{
    
    font: 18px 'Time New Roman';
    border: 2px solid red;

}
#secondline{
    font: 60px 'Time New Roman';


}